{% extends "base.html" %}
{% block page_title %}Web Blog - Admin{% endblock %}
{% block navbar_options %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'administration_categories' %}">Categorías</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Autores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Publicaciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Comentarios</a>
    </li>
{% endblock %}